<a href="https://colab.research.google.com/github/enidroman/Data_602_Advanced_Programming_and_Techniques/blob/main/QOTW_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a variable y and set it to 5.

y = 5
print(y)

5

In [ ]:
# 2. Create a string variable called first_name and set it to your first name.

first_name = 'Enid'
print(first_name)

Enid

In [ ]:
# 3. Create a string variable called last_name and set it to your last name.

last_name = 'Roman'
print(last_name)

Roman

In [ ]:
# 4. Create a string variable called full_name and set it equal to your full name using variables above.

first_name = 'Enid'
last_name = 'Roman'
full_name = first_name + ' ' + last_name 
print(full_name)

Enid Roman

In [ ]:
# 5. Assign 20 to the variable hours_worked, 15 to the variable wage_per_hour and the product of the two to variable total_pay.

hours_worked = 20
wage_per_hour = 15
total_pay = hours_worked * wage_per_hour
print(total_pay)

300

In [ ]:
# 6. Create a variable called x and set it to 10. Then create a variable y that equals to x to the 7th power.

x = 10
y = x ** 7
print(y)

10000000