<a href="https://colab.research.google.com/github/enidroman/Data_602_Advanced_Programming_and_Techniques/blob/main/QOTW_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. How would you delete:

* An index from your dataframe

Index.delete() function returns a new object with the passed locations deleted. We can pass more than one locations to be deleted in the form of list.

ex. Index.delete(loc)

To delete the first label in the given Index

ex. df.delete(0)

To delete values present at 2nd, 3rd, 4th and 5th place in the Index.

ex. df.delete([2, 3, 4, 5])

* A column from your dataframe

1. Pandas .drop() function can drop column or row. This behaviour is controlled by the axis parameter. To specify that we want to drop a column, we need to provide axis=1 as an argument to the drop function. If you don't provide axis=1 then the .drop() function will default to axis=0. This means that the function will remove rows and not columns.

ex. df.drop(['your_column_name'], axis=1)

2. To remove a column permanently from your dataframe you will need to provide one more parameter inplace=True.

ex. df.drop(['your_column_name'], axis=1, inplace=True) or
df.drop(columns=['your_column_name'], axis=1, inplace=True)

3. It is also possible to drop a column using its index rather than its name. It is harder to read code when the index is used.

ex. df.drop(df.columns[[index_column]], axis = 1, inplace = True)

4. Pandas .drop() function can also be used to remove multiple columns. To do so, one simply needs to provide names of columns that should be deleted. 

ex. df.drop(['your_column1', 'your_column2'], axis=1, inplace = True) or
df.drop(columns=['your_column1', 'your_column2'], axis=1, inplace = True)

5. You can also delete multiple columns with column index using the command.

ex. df.drop(df.columns[[index_column1, index_column2]], axis=1, inplace = True)

* A row from your dataframe

It is also easy to delete rows of a dataframe. We can use the same .drop() function to delete rows. To drop one or more rows from a Pandas dataframe, we need to specify the row index(s) that need to be dropped and axis=0 argument. Here the axis=0 argument specifies that we want to drop rows instead of dropping columns. Remember that this is the default parameter for the .drop() function and so it is optional.

1. To delete a specific row from a dataframe with its index use the following command.

ex. df.drop([row_index], axis=0, inplace = True) or
df.drop([row_index], inplace = True)

2. You can also set custom indexes on your dataframe. In this case, to drop the specified row, you will need to use its custom Intex.

ex. df.drop(index='custom_index', axis=0, inplace = True) or
df.drop('custom_index', axis=0, inplace = True) or
df.drop('custom_index', inplace = True) or
df.drop(['custom_index'], inplace = True)

2. How do you iterate over a pandas dataframe?

Basic iteration (for i in object) produces −

Series − values

DataFrame − column labels

Panel − item labels

Iterating a DataFrame gives column names.

To iterate over the rows of the DataFrame, we can use the following functions −

iteritems() − to iterate over the (key,value) pairs

iterrows() − iterate over the rows as (index,series) pairs

itertuples() − iterate over the rows as namedtuples

1. iteritems()

Iterates over each column as key, value pair with label as key and column value as a Series object.

ex. df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])for key,value in df.iteritems():
   print key,value

Each column is iterated separately as a key-value pair in a Series.

2. iterrows()

iterrows() returns the iterator yielding each index value along with a series containing the data in each row.

ex. df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3']) for row_index,row in df.iterrows():
   print row_index,row

Because iterrows() iterate over the rows, it doesn't preserve the data type across the row. 0,1,2 are the row indices and col1,col2,col3 are column indices.

3. itertuples()

itertuples() method will return an iterator yielding a named tuple for each row in the DataFrame. The first element of the tuple will be the row’s corresponding index value, while the remaining values are the row values.

ex. df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3']) for row in df.itertuples():
    print row

Do not try to modify any object while iterating. Iterating is meant for reading and the iterator returns a copy of the original object (a view), thus the changes will not reflect on the original object.

3. How would you convert a string to a date?

The datetime.strptime() method returns a datetime object that matches the date_string parsed by the format. Both arguments are required and must be strings.

The syntax for the datetime.strptime() method is:

datetime.strptime(date_string, format)

In [7]:
#The following example converts a date string into a datetime.date() object, and prints the class type and value of the resulting object:
from datetime import datetime

date_str = '09-19-2022'

date_object = datetime.strptime(date_str, '%m-%d-%Y').date()
print(type(date_object))
print(date_object)  # printed in default format

<class 'datetime.date'>
2022-09-19

4. What is data aggregation?  Give an example in Python.

Data aggregation is the process where raw data is gathered and expressed in a summary form for statistical analysis.

For example, raw data can be aggregated over a given time period to provide statistics such as average, minimum, maximum, sum, and count. After the data is aggregated and written to a view or report, you can analyze the aggregated data to gain insights about particular resources or resource groups. There are two types of data aggregation:

Time aggregation

All data points for a single resource over a specified time period.

Spatial aggregation

All data points for a group of resources over a specified time period.

The Dataframe.aggregate() function is used to apply aggregation across one or more columns. Some of the most frequently used aggregations are as follows:

sum: Returns the sum of the values for the requested axis

min: Returns the minimum of the values for the requested axis

max: Returns the maximum of the values for the requested axis

We can apply aggregation in a DataFrame, df, as df.aggregate() or df.agg().

In [8]:
# Example
import pandas as pd

data = {
  "x": [50, 40, 30],
  "y": [300, 1112, 42]
}

df = pd.DataFrame(data)

x = df.aggregate(["sum", "min", "max"])

print(x)

       x     y
sum  120  1454
min   30    42
max   50  1112

5. What is GroupBy in Pandas (groupby()? Give an example in Python.

Pandas groupby is used for grouping the data according to the categories and apply a function to the categories. It also helps to aggregate data efficiently.

Pandas dataframe.groupby() function is used to split the data into groups based on some criteria. pandas objects can be split on any of their axes. The abstract definition of grouping is to provide a mapping of labels to group names.

Syntax: DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)

Parameters :

by : mapping, function, str, or iterable

axis : int, default 0

level : If the axis is a MultiIndex (hierarchical), group by a particular level or levels

as_index : For aggregated output, return object with group labels as the index. Only relevant for DataFrame input. as_index=False is effectively “SQL-style” grouped output

sort : Sort group keys. Get better performance by turning this off. Note this does not influence the order of observations within each group. groupby preserves the order of rows within each group.

group_keys : When calling apply, add group keys to index to identify pieces

squeeze : Reduce the dimensionality of the return type if possible, otherwise return a consistent type

Returns : GroupBy object

In [ ]:
# Example. Find the average co2 consumption for each car brand:
import pandas as pd

data = {
  'co2': [95, 90, 99, 104, 105, 94, 99, 104],
  'model': ['Citigo', 'Fabia', 'Fiesta', 'Rapid', 'Focus', 'Mondeo', 'Octavia', 'B-Max'],
  'car': ['Skoda', 'Skoda', 'Ford', 'Skoda', 'Ford', 'Ford', 'Skoda', 'Ford']
}

df = pd.DataFrame(data)

print(df.groupby(["car"]).mean())

         co2
car
Ford   100.5
Skoda   97.0

Ref: https://re-thought.com/delete-drop-column-from-pandas-dataframe/

https://www.geeksforgeeks.org/python-pandas-index-delete/

https://www.tutorialspoint.com/python_pandas/python_pandas_iteration

https://www.digitalocean.com/community/tutorials/python-string-to-datetime-strptime

https://www.ibm.com/docs/en/tnpm/1.4.2?topic=data-aggregation

https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/