<a href="https://colab.research.google.com/github/enidroman/Data_602_Advanced_Programming_and_Techniques/blob/main/QOTW_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Create a list called animals that contain the following: cat, dog, manta ray, horse, crouching tiger.

animals = ['cat', 'dog', 'manta ray', 'horse', 'crouching tiger']
print(animals)

['cat', 'dog', 'manta ray', 'horse', 'crouching tiger']

In [6]:
# 2. Repeat question 1 and loop through and print each item in the animal list by iterating through an index number and using range(). Set a variable len_animals to the length of the animal list.

animals = ['cat', 'dog', 'manta ray', 'horse', 'crouching tiger']
i = 0
for i in range(len(animals)):
    print(animals[i])
len_animals=len(animals)
print(len_animals)

cat
dog
manta ray
horse
crouching tiger
5

In [11]:
# 3. Programmatically reorganize the countdown list below in descending order and return the value of the 5th element in the sorted countdown list.

#   The 5th element will be stored in the variable the_fifth_element, which currently below has a dummy value of -999.
#   Remember, the index number of the 5th element is not 5

countdown = [9, 8, 7, 5, 4, 2, 1, 6, 10, 3, 0, -5]
the_fifth_element = -999

countdown.sort()
countdown.reverse()
the_fifth_element=countdown[4]
print (countdown, the_fifth_element)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -5] 6

In [15]:
# 4. Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

#Expected output:
#[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

list1[2][2] += [7000]

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [24]:
# 5. Write a program to remove all occurrences of item 20 in the following list.

list2 = [5, 20, 30, 15, 20, 30, 20]

while 20 in list2:
    list2.remove(20)
print(list2)

[5, 30, 15, 30]

In [37]:
# 6. Using the following dictionary .. (Use python to solve for the answer.)

dict = {"Course": "DATA 606", "Program": "MSDS", "School": "CUNYSPS"}

# a. What is the name of the course?
print(dict["Course"])

# b. Change the course to DATA602
dict["Course"] = "DATA 602"
print(dict["Course"])

# c. Add new information to the dictionary - "Professor" with "Schettini"
dict["Professor"]= "Schettini"
print(dict)

# d. Using the len function, find how many keys there are in the dictionary. 
print("Length of dictionary:", len(dict))

DATA 606
DATA 602
{'Course': 'DATA 602', 'Program': 'MSDS', 'School': 'CUNYSPS', 'Professor': 'Schettini'}
Length of dictionary: 4

In [39]:
# 7.  Write a Python program to change Bradâ€™s salary to 7500 in the following dictionary.

sample_dict = {
    'emp1': {'name': 'Amanda', 'salary': 8200},
    'emp2': {'name': 'John', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 700}
}

sample_dict['emp3']['salary'] = 7500
print(sample_dict)

{'emp1': {'name': 'Amanda', 'salary': 8200}, 'emp2': {'name': 'John', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 7500}}